body {
  margin: 0;
  padding: 0;
}

/* Header section */
header {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1% 20% 2% 20%;
}

h1 {
  text-align: center;
}

.header img {
  display: block;
  margin: auto;
  width: 200px;
  border-radius: 50%;
  box-shadow: gray 0 0 10px;
  border: 1px solid white ;
}

.contact p {
  text-align: center;
  font-style: bold;
  font-size: 25px;
}

.contact ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact ul li {
  display: inline-block;
  margin-left: 20%;
}

.contact ul li a {
  text-decoration: none;
}

.contact ul li a:hover {
  text-decoration: underline;
}

/* Box for section of coding project list and about me */
.box {
  margin: 5px;
  padding: 0% 5% 0% 5%;
  display: block;
  border: 2px solid black;
}

/* Coding prjoect list secction */
.box ul img {
  float: right;
  width: 50%;
  border: 2px solid black;
}


/* About me section */
.underline {
  text-decoration-line: underline;
}

/* My interest-and-skills section */
#box {
  margin: 5px;
  padding: 0% 5% 0% 5%;
  border: 2px solid black;
}

.inline-flex {
  display: inline-flex;
}

#interest-and-skills {
  display: block;
  width: 50%;
  height: 250px;
  margin: 10px;
  border: 2px solid black;
  padding: 5px;
  background-color: bisque;opacity: 0.9;
}