body {
  margin: 0;
  padding: 0;
}

header {
  background-color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1% 20% 2% 20%;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin: auto;
  width: 200px;
  border-radius: 50%;
  box-shadow: gray 0 0 10px;
  border: 1px solid white ;
}

.contact p {
  text-align: center;
  font-style: bold;
  font-size: 25px;
}

.contact ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contact ul li {
  display: inline-block;
  margin-left: 20%;
}

.underline {
  text-decoration-line: underline;
}

.interest-and-skills  {
  display: block;
  width: 25%;
  height: 250px;
  float: left;
  margin: 10px;
  border: 2px solid black;
  padding: 5px;
  background-color: bisque;opacity: 0.9;
}